html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  max-height: 100vh;
}

.hero-section, .card-section, .quote-section, .footer-section {
  padding: 1em;
}
 
.header h3, .hero-text h1, button {
  color: #F9FAF8 ;
}


/* ::: HERO SECTION ::: */


.header h3 {
  font-size: 24px;
}

.hero-text p, .hero-placeholder {
  color: #E5E7EB;
}

.hero-placeholder {
  background-color: rgb(124, 128, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-placeholder, .hero-text{
  width: 50%;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  margin-left: 1em;
}

.hero-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.header, .hero {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  padding-right: 1em;
}

.hero-text p {
  font-size: 18px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text button {
  padding: 0.5em 2em;
  background-color: #3882F6;
  border-radius: 5px;
  border: none;
}

.hero {
  margin-bottom: 2vh;
  align-items: stretch;
}


/* ::: CARD SECTION ::: */


.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card-title {
  font-size: 36px;
  color: #1F2937;
}

.card-text {
  font-size: 16px;
  color: #1F2937;
  width: 160px;
  padding: 0.2rem;
  text-align: center;
}

.card-image{
  height: 160px;
  width: 160px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.card-container {
  display: flex;
  gap: 4rem;
}


/* ::: QUOTE SECTION ::: */





