html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  max-height: 100vh;
}

.hero-section, .card-section, .quote-section, .footer-section {
  padding: 1em;
}
 
.header h3, .hero-text h1, button {
  color: #F9FAF8 ;
}


/* ::: HERO SECTION ::: */


.header h3 {
  font-size: 24px;
}

.hero-text p, .hero-placeholder {
  color: #E5E7EB;
}

.hero-placeholder {
  background-color: rgb(124, 128, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18rem;
}
.hero-placeholder, .hero-text{
  flex: 1 1 320px;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  margin-left: 1em;
}

.hero-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.header, .hero {
  display: flex;
  max-width: 1100px;
  width: 100%;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  padding-right: 1em;
}

.hero-text p {
  font-size: 18px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text button {
  padding: 0.5em 2em;
  background-color: #3882F6;
  border-radius: 5px;
  border: none;
}

.hero {
  flex-wrap: wrap;
  margin-bottom: 2vh;
  align-items: stretch;
  gap: 2rem;
}


/* ::: CARD SECTION ::: */


.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.card-title {
  font-size: 36px;
  color: #1F2937;
}

.card-text {
  font-size: 16px;
  color: #1F2937;
  width: 100%;
  padding: 0.2rem;
  text-align: center;
}

.card-image{
  height: 160px;
  width: 100%;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.card-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}


/* ::: QUOTE SECTION ::: */


.quote-section {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 4rem 1rem;
}

.quote-wrapper {
  max-width: 69ch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
}
.quote-author {
  align-self: flex-end;
  font-weight: 800;
}


/* ::: FOOTER SECTION ::: */


.call-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.call-action {
  display: flex;
  flex-wrap: wrap;
  background-color: #3882F6;
  padding: 2rem 4rem;
  color: #F9FAF8;
  gap: 3rem;
  border-radius: 10px;
}

.call-action button {
  padding: 0.5em 2em;
  background-color: #3882F6;
  border-radius: 5px;
  border: 2px solid #E5E7EB;
}

.footer {
  background-color: #1F2937;
  color:#E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  padding: 1rem;
}

